$black-color: #1B1A17;
$accent-color: #E6C8B4;
$dark-gray-color: #444240;
$dark-green-color: #555248;

%play-700 {
    font-family: "PlayfairDisplay-Bold", sans-serif;
    font-weight: 700;
}

%play-400 {
    font-family: "PlayfairDisplay-Regular", sans-serif;
    font-weight: 400;
}

%prata-400 {
    font-family: "Prata-Regular", sans-serif;
    font-weight: 400;
}

%roboto-700 {
    font-family: "Roboto-Bold", sans-serif;
    font-weight: 700;
}

%roboto-500 {
    font-family: "Roboto-Medium", sans-serif;
    font-weight: 500;
}

%roboto-400 {
    font-family: "Roboto-Regular", sans-serif;
    font-weight: 400;
}

%roboto-100 {
    font-family: "Roboto-Light", sans-serif;
    font-weight: 100;
}
