@import "vars";
@import "reset";
@import "libs";
@import "global";

.header {
    padding: 30px 0;
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.logo {
    @extend %play-400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.14em;
    color: $dark-green-color;
    display: flex;
    align-items: center;
    gap: 8px;
}

.menu {
    &__list {
        display: flex;
    }
    &__list-item + &__list-item {
        padding-left: 65px;
    }
    &__list-link {
        font-size: 14px;
        line-height: 16px;
        color: $dark-green-color;
        transition: all 0.5s ease;
    }
}

.user-nav {
    display: flex;
    &__link {
        position: relative;
    }
    &__link + &__link {
        padding-left: 25px;
    }
    &__num {
        position: absolute;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: $accent-color;
        top: -5px;
        right: -5px;
        font-size: 8px;
        line-height: 15px;
        color: $black-color;
        text-align: center;
    }
}

.footer {
    background-color: $dark-gray-color;
}

.footer-top {
    padding: 70px 0;
    display: flex;
    justify-content: space-between;
    &__social-info {
        p {
            font-size: 12px;
            color: #D0D0CF;
            line-height: 14px;
        }
        p + p {
            padding-top: 10px;
        }
    }
    &__links-list {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    &__links-inner {
        display: flex;
        justify-content: space-between;
        gap: 10vw;
        max-width: 720px;
    }
    &__links-title {
        @extend %roboto-700;
        color: #fff;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.07em;
        text-transform: uppercase;
        margin-bottom: 30px;
    }
    &__links-link {
        font-size: 12px;
        color: #D0D0CF;
        line-height: 14px;
    }
}

.footer-logo {
    margin-bottom: 25px;
    color: #fff;
}