@import "vars";
@import "reset";
@import "libs";
@import "global";

.header {
    padding: 30px 0;
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.logo {
    @extend %play-400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.14em;
    color: $dark-green-color;
    display: flex;
    align-items: center;
    gap: 8px;
}

.menu {
    &__list {
        display: flex;
    }
    &__list-item + &__list-item {
        padding-left: 65px;
    }
    &__list-link {
        font-size: 14px;
        line-height: 16px;
        color: $dark-green-color;
        transition: all 0.5s ease;
    }
}

.user-nav {
    display: flex;
    &__link {
        position: relative;
    }
    &__link + &__link {
        padding-left: 25px;
    }
    &__num {
        position: absolute;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: $accent-color;
        top: -5px;
        right: -5px;
        font-size: 8px;
        line-height: 15px;
        color: $black-color;
        text-align: center;
    }
}

.footer {
    background-color: $dark-gray-color;
}

.footer-top {
    padding: 70px 0;
    display: flex;
    justify-content: space-between;
    &__social-info {
        p {
            font-size: 12px;
            color: #d0d0cf;
            line-height: 14px;
        }
        p + p {
            padding-top: 10px;
        }
    }
    &__links-list {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    &__links-inner {
        display: flex;
        justify-content: space-between;
        gap: 10vw;
        max-width: 720px;
    }
    &__links-title {
        @extend %roboto-700;
        color: #fff;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.07em;
        text-transform: uppercase;
        margin-bottom: 30px;
    }
    &__links-link {
        font-size: 12px;
        color: #d0d0cf;
        line-height: 14px;
    }
}

.footer-logo {
    margin-bottom: 25px;
    color: #fff;
}

.first-screen {
    overflow: hidden;
    &__content {
        margin: 0 20px;
        display: flex;
    }
    &__content-info {
        padding: 235px 0 25px;
        max-width: 410px;
        margin-left: 60px;
    }
    &__title {
        @extend %play-400;
        font-size: 45px;
        line-height: 60px;
        color: $black-color;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: 33px;
            left: -60px;
            width: 50px;
            height: 1px;
            background-color: #8b8371;
        }
    }
    &__subtitle {
        @extend %play-400;
        display: block;
        font-size: 30px;
        line-height: 40px;
        color: $black-color;
        margin-bottom: 40px;
    }
    &__text {
        @extend %roboto-300;
        font-size: 14px;
        max-width: 250px;
        margin-bottom: 50px;
    }
    &__link {
        background-color: $dark-gray-color;
        padding: 25px 40px;
        color: #fff;
        @extend %roboto-500;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
    }
    &__content-item {
        position: relative;
    }
    &__content-item--bg {
        position: absolute;
        left: -55px;
        top: 0;
        z-index: -1;
    }
    &__price {
        position: absolute;
        top: 150px;
        left: 50px;
        display: flex;
        align-items: baseline;
        span {
            display: block;
            &:last-child {
                background-image: url('../images/icons/ruble.svg');
                background-repeat: no-repeat;
                width: 10px;
                height: 13px;
                margin-left: 7px;
            }
        }
        &::before {
            content: "";
            position: absolute;
            top: 10px;
            left: 95px;
            width: 50px;
            height: 1px;
            background-color: #8b8371;
        }
    }
    &__img {
        margin-left: 130px;
    }
    &__specification {
        position: absolute;
        bottom: 115px;
        right: -70px;
        &::before {
            content: "";
            position: absolute;
            top: 11px;
            right: 140px;
            width: 50px;
            height: 1px;
            background-color: #8b8371;
        }
    }
    &__price,
    &__specification {
        @extend %prata-400;
        color: $black-color;
    }
}

.popular {
    padding: 80px 0 85px;
    &-top {
        margin-bottom: 50px;
        position: relative;
    }
    &-top__link {
        position: absolute;
        right: 0;
        @extend %roboto-500;
        line-height: 19px;
        color: $dark-gray-color;
        &::after {
            content: "";
            position: absolute;
            width: 100px;
            height: 1px;
            bottom: -10px;
            right: 0;
            background-color: #c4c0b6;
        }
    }
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
    }
}

.popular-card {
    max-width: 370px;
    padding: 40px 30px;
    &__title {
        @extend %play-700;
        font-size: 14px;
        letter-spacing: 0.03em;
        color: $black-color--trans;
    }
    &__price {
        position: relative;
        margin-top: 10px;
        @extend %prata-400;
        font-size: 14px;
        line-height: 16px;
        color: $black-color--trans;
        display: flex;
        align-items: baseline;
        span {
            display: block;
            &:last-child {
                background-image: url('../images/icons/ruble.svg');
                background-repeat: no-repeat;
                width: 10px;
                height: 13px;
                margin-left: 7px;
            }
        }
    }
    &__detail {
        margin-top: 20px;
        padding-left: 50px;
        position: relative;
        @extend %play-400;
        color: $black-color;
        &::before {
            content: "";
            position: absolute;
            width: 30px;
            height: 1px;
            top: 12px;
            left: 0;
            background-color: #8b8371;
        }
    }
}
